{% extends "base.html" %}
{% block header %}
    <form action = "{% url 'index'%}">
        <input type = "submit" value="Torna indietro">
    </form>
    <form action = "{% url 'biografia'%}">
        <input type = "submit" value="Biografia">
    </form>
    <form action = "{% url 'invenzioni'%}">
        <input type = "submit" value="Invenzioni">
    </form>
    <form action = "{% url 'tvolt'%}">
        <input type = "submit" value="Tempio Voltiano">
    </form>
    <form action = "{% url 'gamification'%}">
        <input type = "submit" value="Gamification">
    </form>
{% endblock %}
{% block content %}
    <div class="about-container">
        <h2>About</h2>
        <p>
            Questo sito è stato realizzato da un gruppo di studenti dell'Istituto Tecnico Industriale I.T.I.S. Magistri Cumacini di Como, nell'ambito di un progetto interdisciplinare dedicato alla figura dello scienziato comasco.
        </p>
        <p>
            L’obiettivo principale del progetto è far conoscere in modo semplice e coinvolgente la vita, le invenzioni e l'eredità scientifica di Alessandro Volta. Attraverso questa piattaforma, speriamo di avvicinare i giovani alla storia della scienza e al pensiero innovativo che ha portato alla nascita della fisica moderna.
        </p>
        <p>
            La pagina include sezioni dedicate alla biografia di Volta, alle sue scoperte più importanti, al Tempio Voltiano e ad attività interattive per rendere l’apprendimento dinamico e divertente.
        </p>
        <p>
            Speriamo che questo strumento possa essere utile a studenti, insegnanti e appassionati di scienza per approfondire la conoscenza di uno dei padri fondatori dell’elettrotecnica.
        </p>
    </div>
{% endblock %}