{% load static %}
<HTML>
    <HEAD>
        <LINK rel = "stylesheet" href = "{% static 'style.css'%}">
    </HEAD>
    <BODY>
        <CENTER>
            <HEADER>
                {% block header %}{% endblock %}
            </HEADER>
            <BR>
            <DIV>
                {% block content %}{% endblock %}
            </DIV>
            <FOOTER>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum mauris sit amet facilisis maximus. Vestibulum ligula tortor, imperdiet et mattis et, vulputate et nibh. Donec id ultrices magna. Vivamus a ipsum id mauris congue fringilla. Nulla facilisi. Sed purus orci, tincidunt a pulvinar eget, congue et est. In non elit sed nisl aliquam efficitur quis ut felis. Cras ac sagittis velit.</p><br>
                <p>Nulla et neque in erat pulvinar vestibulum ac sit amet tellus. Fusce quis pharetra orci. Mauris nulla purus, pretium eu odio non, sollicitudin congue odio. Cras dictum feugiat erat a euismod. Quisque odio ex, venenatis vitae nulla eu, faucibus pulvinar purus. Curabitur venenatis felis eu nunc interdum imperdiet. Duis gravida purus dignissim rhoncus tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eget imperdiet neque.</p><br>
                <p>Donec felis ex, dignissim a consequat sed, gravida quis nunc. Nam lacus tellus, luctus ac tempus nec, dictum nec libero. Proin nec enim ex. Cras et ligula non lectus aliquam euismod non eget sem. Praesent urna tortor, vestibulum a maximus eu, elementum sed elit. Aenean euismod venenatis est tempor sagittis. Nullam suscipit, erat et pulvinar ullamcorper, nibh mauris pellentesque quam, vitae ullamcorper nibh elit vel odio. Curabitur at commodo dui, et maximus velit. Nullam velit lectus, venenatis in porta in, malesuada at erat. Aliquam ipsum lorem, pharetra tristique dui gravida, ultrices faucibus ligula. In hac habitasse platea dictumst.</p>
            </FOOTER>
        </CENTER>
    </BODY>
</HTML>