{% extends "base.html" %}
{% block header %}
    <form action = "{% url 'index'%}">
        <input type = "submit" value="Torna indietro">
    </form>
    <form action = "{% url 'invenzioni'%}">
        <input type = "submit" value="Invenzioni">
    </form>
    <form action = "{% url 'tvolt'%}">
        <input type = "submit" value="Tempio Voltiano">
    </form>
    <form action = "{% url 'gamification'%}">
        <input type = "submit" value="Gamification">
    </form>
    <form action = "{% url 'about'%}">
        <input type = "submit" value="Informazioni sul progetto">
    </form>
{% endblock %}
{% block content %}
    <div class="biografia-container">
        <h2>Biografia</h2>
        <p>
            Alessandro Giuseppe Antonio Anastasio Volta nacque il 18 febbraio 1745 a Como, in Italia. Fin da giovane mostrò un forte interesse per le scienze naturali e la fisica, campi nei quali avrebbe poi lasciato un'impronta indelebile. Dopo aver completato gli studi classici, si dedicò con passione agli esperimenti scientifici, entrando in contatto con i più importanti scienziati dell’epoca.
        </p>
        <p>
            Nel 1774 divenne professore di fisica presso la Scuola Reale di Como, e già nel 1775 inventò l’elettroforo perpetuo, un dispositivo capace di generare elettricità statica. Il suo interesse per l'elettricità lo portò a studiare fenomeni legati agli animali, entrando in contrasto con le teorie di Luigi Galvani, sostenitore dell’elettricità animale. Volta, invece, sosteneva che l’elettricità derivasse dal contatto di metalli diversi.
        </p>
        <p>
            A coronamento delle sue ricerche, nel 1800 inventò la pila, il primo generatore di corrente elettrica continua, considerata una delle invenzioni più importanti della storia dell’umanità. Questo dispositivo rivoluzionò la fisica e diede avvio all’era dell’elettrotecnica. La scoperta gli valse fama internazionale: fu invitato da Napoleone Bonaparte a Parigi, dove gli furono conferite importanti onorificenze, tra cui il titolo di conte.
        </p>
        <p>
            Volta ricoprì diversi incarichi accademici e politici: fu professore all’Università di Pavia per più di trent’anni e direttore del Dipartimento di Fisica. Nonostante i riconoscimenti, mantenne sempre uno stile di vita semplice e modesto. Negli ultimi anni si ritirò nella sua casa a Camnago, dove si spense il 5 marzo 1827.
        </p>
        <p>
            In suo onore, l’unità di misura della differenza di potenziale elettrico fu chiamata “volt”. A Como, sua città natale, gli è stato dedicato il Tempio Voltiano, museo eretto nel 1927 in occasione del centenario della sua morte, che raccoglie strumenti originali e testimonianze della sua vita e delle sue scoperte.
        </p>
    </div>
{% endblock %}

