{% extends "base.html" %}
{% block header %}
    <form action = "{% url 'index'%}">
        <input type = "submit" value="Torna indietro">
    </form>
    <form action = "{% url 'invenzioni'%}">
        <input type = "submit" value="Invenzioni">
    </form>
    <form action = "{% url 'tvolt'%}">
        <input type = "submit" value="Tempio Voltiano">
    </form>
    <form action = "{% url 'about'%}">
        <input type = "submit" value="Informazioni sul progetto">
    </form>
{% endblock %}
{% block content %}
    <p>Biografia</p>
{% endblock %}