{% extends "base.html" %}
{% block header %}
    <form action = "{% url 'index'%}">
        <input type = "submit" value="Torna indietro">
    </form>
    <form action = "{% url 'biografia'%}">
        <input type = "submit" value="Biografia">
    </form>
    <form action = "{% url 'invenzioni'%}">
        <input type = "submit" value="Invenzioni">
    </form>
    <form action = "{% url 'tvolt'%}">
        <input type = "submit" value="Tempio Voltiano">
    </form>
    <form action = "{% url 'about'%}">
        <input type = "submit" value="Informazioni sul progetto">
    </form>
{% endblock %}
{% block content %}
    <h2>Quiz</h2>
    <p>Avanti un altro</p>
    <div></div>
    {% if quiz_finito %}
        <h1>Quiz completato!</h1>
        <p>Hai totalizzato {{ punteggio }} punto{{ punteggio|pluralize }}.</p>
        <a href="{% url 'game'%}">Ricomincia il quiz</a>

    {% else %}
        <div>
            <div id="risposte_date">
                {% for risposta_data in risposte_date %}
                    {% if risposta_data == None %}
                        <div></div>
                    {% elif risposta_data %}
                        <div style="background-color: green;"></div>
                    {% elif not risposta_data %}
                        <div style="background-color: red;"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <br><br>
            <div id="domanda">{{ domanda.body }}</div>
            <br><br>
            <div>
                <div id="risposte_quiz"></div>
                    <form method="post">
                        {% csrf_token %}
                        {% for risposta in risposte %}
                            <div id="risposta">
                                <input type="radio" name="risposta" value="{{ risposta.id }}" required>
                                {{ risposta.body }}
                            </div><br>
                        {% endfor %}
                        <button type="submit">Avanti</button>
                    </form>
                </div>
            </div>
        </div>
    
    {% endif %}

    <br><br>
    <form action = "{% url 'gamification'%}">
        <input type = "submit" value="Torna alla pagina del menù di gioco">
    </form>
    </div>
    <br><br>
{% endblock %}