{% extends "base.html" %}
{% block header %}
    <form action = "{% url 'index'%}">
        <input type = "submit" value="Torna indietro">
    </form>
    <form action = "{% url 'biografia'%}">
        <input type = "submit" value="Biografia">
    </form>
    <form action = "{% url 'invenzioni'%}">
        <input type = "submit" value="Invenzioni">
    </form>
    <form action = "{% url 'tvolt'%}">
        <input type = "submit" value="Tempio Voltiano">
    </form>
    <form action = "{% url 'about'%}">
        <input type = "submit" value="Informazioni sul progetto">
    </form>
{% endblock %}
{% block content %}
<div class="gamification-container">
    <h2>Gamification</h2>

    <p>
        Benvenuto nel nostro quiz ispirato al celebre programma televisivo "<strong>Avanti un altro!</strong>", rivisitato in chiave scientifica e dedicato ad <strong>Alessandro Volta</strong>.
    </p>

    <p>
        Il nostro gioco è pensato per mettere alla prova le tue conoscenze su Volta, la sua vita, le sue scoperte e il Tempio Voltiano.
    </p>

    <p>
        Ogni risposta esatta ti permette di avanzare verso la vittoria finale: diventare il campione della scienza!
    </p>

    <br><br>
</div>
    <div>
        <button style="padding: 10px; background-color: #4299e1; border-style: none; border-radius: 0.75rem;"><a style="text-decoration: none; color: white; text-transform: uppercase; font-size: 1.2rem;" href="/game?categoriaQuiz=test">Vai al gioco</a></button>
        <!--
            <form action = "/game?categoriaQuiz=test">
                <input type = "submit" value="Vai al gioco">
            </form>
        -->
    </div>
    <br><br>
{% endblock %}