{% extends "base.html" %}
{% block header %}
    <form action = "{% url 'index'%}">
        <input type = "submit" value="Torna indietro">
    </form>
    <form action = "{% url 'biografia'%}">
        <input type = "submit" value="Biografia">
    </form>
    <form action = "{% url 'invenzioni'%}">
        <input type = "submit" value="Invenzioni">
    </form>
    <form action = "{% url 'gamification'%}">
        <input type = "submit" value="Gamification">
    </form>
    <form action = "{% url 'about'%}">
        <input type = "submit" value="Informazioni sul progetto">
    </form>
{% endblock %}
{% block content %}
    <h2>Informazioni tempio voltiano</h2>
{% endblock %}